TOCropViewControllerExample.xcodeproj/xcuserdata/Moon.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TOCropViewControllerExample.xcodeproj/project.xcworkspace/xcuserdata/Moon.xcuserdatad/UserInterfaceState.xcuserstate
TOCropViewControllerExample.xcodeproj/xcuserdata/Moon.xcuserdatad/xcschemes/xcschememanagement.plist